[submodule "files/.vim/bundle/vim-puppet"]
	path = files/.vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "files/.vim/bundle/vim-markdown"]
	path = files/.vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
