[submodule "files/.vim/bundle/vim-puppet"]
	path = files/.vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "files/.vim/bundle/typescript-vim"]
	path = files/.vim/bundle/typescript-vim
	url = git://github.com/leafgarland/typescript-vim.git
[submodule "files/.vim/bundle/editorconfig-vim"]
	path = files/.vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "files/.vim/bundle/vim-markdown"]
	path = files/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
