@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */

/*
 * The next two properties define the text color of the selected text in "tree"
 * panes, such as the account/folder list and the message list panes. 
 * 
 * When a message is selected, there will be two highlighted rows; the message
 * itself, and the folder it is in.  These properties indicate which pane has
 * focus.  We want the white text in the focused pane, and black text in 
 * unfocused panes
 */
treechildren::-moz-tree-cell-text(selected) {
	color: black !important;
}

treechildren::-moz-tree-cell-text(selected, focus) {
	color: white !important;
}

/**
 if we need to set background:
 treechildren::-moz-tree-row(selected) {
   -moz-appearance: none !important;
   background-color: orange !important;
 }
*/

/* For some reason, the hovered button text color is not inherited from GTK */
button:hover {
	color: black !important;
}

/**
 * vbox id=folderPaneBox
 *   tree id="folderTree"
 */
