@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */

/*
 * The next two properties define the text color of the selected text in "tree"
 * panes, such as the account/folder list and the message list panes. 
 * 
 * When a message is selected, there will be two highlighted rows; the message
 * itself, and the folder it is in.  These properties indicate which pane has
 * focus.  We want the white text in the focused pane, and black text in 
 * unfocused panes
 */
treechildren::-moz-tree-row(selected) {
  background-color: #006060 !important;
}

treechildren::-moz-tree-cell-text(selected) {
	color: black !important;
}

treechildren::-moz-tree-row(selected, focus) {
  background-color: #184880 !important;
}

treechildren::-moz-tree-cell-text(selected, focus) {
	color: white !important;
}

/*
 * Newer versions of Thunderbird, when using themes, don't set the color correctly when there are
 * new or unread messages.  We want folders with new messages (we haven't clicked on the folder 
 * since we got the message) to be blue, and we want folders with unread messages (we've clicked on
 * the folder, but we haven't read the messages) to be black.
 */

treechildren::-moz-tree-cell-text(folderNameCol, hasUnreadMessages-true) {
    color: black !important;
} 

/* Declare "newMesasges" after "unreadMessages" so it takes precedence */
treechildren::-moz-tree-cell-text(newMessages-true) {
    /* color: #2980b9 !important; /* Darker blue */
    color: #45a4fe !important; /* lighgter blue */
}

/* For some reason, the hovered button text color is not inherited from GTK */
button:hover {
	color: black !important;
}
