/****************************************************************************************/
/* My overrides for to the CustomCssForFx userChrome.css tweaks.                        */
/* Github: https://github.com/aris-t2/customcssforfx                                    */
/****************************************************************************************/

/** First things first.  On OSX, we use either white or color icons */
@import "./fx128/css/buttons/icons_white_icons.css"; /**/
/* @import "./fx128/css/buttons/icons_colorized.css"; /**/

/* Overrides to general_variables.css and color_variables.css files.  */
/* color names, hexcodes, rgb(a) and hsl(a) and gradients can be used */

/* Hamburger menu on the left, workaround for fx102+ */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  order: -1 !important;
}

#PanelUI-button #whats-new-menu-button:not([hidden="true"]) {
  -moz-box-ordinal-group: 10 !important;
  order: 10 !important;
  margin-inline-start: 3px !important;
  margin-inline-end: unset !important;
}

panel[id="appMenu-popup"][type="arrow"][side="top"],
panel[id="appMenu-popup"][type="arrow"][side="bottom"] {
  margin-inline: 0 !important;
}

