.tabbrowser-tab {
    box-sizing: border-box;
    margin: 0 1px 0 1px !important;
    border-radius: 10px 10px 0 0 !important;
	overflow: hidden;
}

/* .tab-background {
    border: none !important;
    border-radius: 10px 10px 0 0 !important;
    background: black;
    opacity: .1;
}
*/

/*
.tabbrowser-tab .tab-text.tab-label {
    color: black !important;            /* tab text color - customizable /
}
*/


/*
.tabbrowser-tab[selected="true"] .tab-text.tab-label {
    color: black !important;            /* tab text color - customizable /
}
*/


/*
.tabbrowser-tab[selected="true"] .tab-background {
    border: 1px solid gray !important;  /* color is customizable /
    border-bottom: none !important;
    opacity: 1;
}
*/


/*
.tab-line {                             /* = light top line in selected tab in Quantum default /
    display: none !important;
}
*/


/*
.tabbrowser-tab:hover,
.tabbrowser-tab .tab-text.tab-label:hover {
    cursor: pointer !important; 
}
*/


/*
.tabbrowser-tab:hover {
    border: 1px solid grey !important;
}
*/


/*
.tabbrowser-tab[selected="true"]:hover {
    border: none !important;
}
*/


/*
[tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
    border: none !important;                /* leave as is; affects the New Tab icon (the plus) /
}
*/
