/* The bulk of the code comes from https://github.com/aris-t2/customcssforfx, which is copied into
 * a subdirectory of this one.  When new versions of Firefox are released, make a copy of that
 * project and see if it still works in all the versions of Firefox we support.  If it does,
 * replace the files in the subdirectory here.  If not, make a new subdirectory here so we keep
 * the working code for earlier versions of Firefox.
 */
/** Uncomment the file that corresponds to the version of Firefox we're configuring. */
/* @import "userChrome_fx109.css"; /**/
/* @import "userChrome-fx115.css"; /**/
/* @import "myUserChrome-fx115.css"; /* Also works for fx128 */
/* @import "myUserChrome-osx-fx115.css"; /* OSX version, Also works for fx128 */

@import "userChrome-fx128.css"; /**/
@import "myUserChrome-fx128.css"; /* Linux and Windows */
/* @import "myUserChrome-osx-fx128.css"; /* OSX version */
