$ViewForegroundInactive:120,119,117;
$ViewForegroundNormal:rgb(0,0,0);
$WindowBackgroundAlternate:rgb(0,128,128);
$TooltipForegroundNeutral:rgb(192,162,95);
$WMinactiveForeground:rgb(128,127,125);
$ButtonDecorationHover:rgb(87,129,176);
$ButtonBackgroundAlternate:rgb(66,65,64);
$TooltipForegroundNormal:rgb(196,209,224);
$TooltipForegroundNegative:rgb(232,88,72);
$InactiveContrastAmount:0.4;
$DisabledIntensityAmount:0.25;
$DisabledContrastAmount:0.65;
$ViewBackgroundNormal:rgb(255,255,255);
$ButtonForegroundLink:rgb(80,142,216);
$WindowForegroundInactive:120,119,117;
$TooltipDecorationHover:rgb(87,129,176);
$TooltipBackgroundAlternate:rgb(17,51,86);
$InactiveColorEffect:2;
$SelectionDecorationHover:rgb(87,129,176);
$SelectionForegroundPositive:rgb(39,174,96);
$WindowForegroundVisited:rgb(142,121,165);
$TooltipBackgroundNormal:rgb(16,48,80);
$ButtonForegroundNegative:rgb(232,88,72);
$SelectionForegroundVisited:rgb(142,121,165);
$DisabledColor:rgb(56,56,56);
$TooltipForegroundLink:rgb(80,142,216);
$WindowForegroundNormal:rgb(0,0,0);
$SelectionForegroundActive:rgb(150,191,240);
$TooltipForegroundVisited:rgb(142,121,165);
$WindowDecorationFocus:rgb(39,94,160);
$ViewForegroundActive:rgb(150,191,240);
$DisabledIntensityEffect:2;
$ViewDecorationFocus:rgb(39,94,160);
$WMactiveBlend:rgb(252,252,252);
$DisabledColorAmount:-0.8;
$DisabledContrastEffect:1;
$SelectionForegroundInactive:81,119,166;
$WindowForegroundNeutral:rgb(192,162,95);
$ViewForegroundVisited:rgb(142,121,165);
$InactiveEnable:false;
$WindowDecorationHover:rgb(87,129,176);
$WindowForegroundActive:rgb(150,191,240);
$WMactiveBackground:rgb(113,0,168);
$ButtonBackgroundNormal:rgb(64,63,62);
$InactiveChangeSelectionColor:true;
$SelectionForegroundNegative:rgb(232,88,72);
$WindowForegroundNegative:rgb(232,88,72);
$WindowForegroundLink:rgb(80,142,216);
$ButtonForegroundNormal:rgb(232,230,227);
$InactiveColor:rgb(0,0,0);
$ViewForegroundPositive:rgb(39,174,96);
$WMactiveForeground:rgb(255,255,255);
$WindowForegroundPositive:rgb(39,174,96);
$InactiveContrastEffect:2;
$WMinactiveBackground:rgb(0,0,141);
$InactiveColorAmount:0.025;
$ViewBackgroundAlternate:rgb(240,240,240);
$SelectionBackgroundNormal:rgb(24,72,128);
$ViewForegroundNegative:rgb(232,88,72);
$ButtonForegroundInactive:120,119,117;
$SelectionDecorationFocus:rgb(39,94,160);
$SelectionForegroundLink:rgb(80,142,216);
$ButtonForegroundActive:rgb(150,191,240);
$TooltipForegroundInactive:120,119,117;
$ButtonForegroundPositive:rgb(39,174,96);
$ViewDecorationHover:rgb(87,129,176);
$TooltipDecorationFocus:rgb(39,94,160);
$WMinactiveBlend:rgb(75,71,67);
$InactiveIntensityAmount:0;
$TooltipForegroundPositive:rgb(39,174,96);
$TooltipForegroundActive:rgb(150,191,240);
$ViewForegroundNeutral:rgb(192,162,95);
$DisabledColorEffect:0;
$InactiveIntensityEffect:0;
$SelectionForegroundNormal:rgb(255,255,255);
$ViewForegroundLink:rgb(80,142,216);
$ButtonDecorationFocus:rgb(39,94,160);
$ButtonForegroundVisited:rgb(142,121,165);
$SelectionForegroundNeutral:rgb(192,162,95);
$WMborder:rgb(200,200,200);
$WindowBackgroundNormal:rgb(0,96,96);
$SelectionBackgroundAlternate:rgb(22,68,120);
$ButtonForegroundNeutral:rgb(192,162,95);
