[Desktop Entry]
Comment=Steve's Aurorae Theme
Name=Steve's Theme
X-KDE-PluginInfo-Author=Steven C. Saliman
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=scnd101
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=steve
X-KDE-PluginInfo-Version=0.96
