#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Trello
GenericNAme=Trello
#Exec=firefox -P Trello -new-instance https://trello.com --class Trello
Exec=firefox -P app --class trello-mark-blue -new-instance https://trello.com 
#Icon=application-x-wine-extension-msp
Icon=trello-mark-blue
#Icon=/home/steve/.local/share/icons/hicolor/256x256/apps/trello-mark-blue.png
Terminal=false
Type=Application
#MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
#Categories=Network;WebBrowser;
Keywords=trello
# StartupWMClass=FxTest
StartupWMClass=trello-mark-blue
X-MultipleArgs=false
