[user]
    name = @git.name@
    email = @git.email@
[alias]
    comit = commit
    graph = log --graph --oneline --decorate
    homeprofile = config user.email "support@saliman.net"
    k =  log --branches --simplify-by-decoration --decorate --oneline
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
    purge = fetch --prune
    tagdate = log --tags --simplify-by-decoration --pretty='format:%ai %d'
    workprofile = config user.email "ssaliman@vantage-dc.com"
[branch]
    autosetuprebase = always
[core]
    excludesfile = ~/.gitignore
#    autocrlf = true
    pager = cat
[pager]
    diff = less
    log = less
[pull]
    rebase = true
[push]
    default = tracking
[color]
    ui = true
[color "status"]
    changed = red
    added = green bold
    deleted = red bold
    untracked = yellow
[status]
    displayCommentPrefix = true
